body {
    background-color: black;
}

form,
input,
label,
p {
    color: white !important;
}

.Title {
    text-align: center;
    color: #fff;
}

.iconEdit {
    margin: 0% 0% 0% 15%;
}

.iconDelete {
    color: red;
    margin-left: 10%;
}

.btnSave {
    background-color: transparent;
    border: 0px;
    margin-left: 25%;
}

.input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: #f8c146;
    outline: 0px;
}

.form-control {
    border: 1px solid #f8c146;
}

.btnDelete {
    float: left;
}

input[type="checkbox"]:checked {
    background-color: pink;
}

.selected {
    background-color: gray;
}